<!DOCTYPE html>
<html>
<head>
    <title>Sign Language Transcriber</title>
</head>
<body>
    <h1>Sign Language Transcriber</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <input type="submit" value="Transcribe">
    </form>
    {% if letter %}
<h2>Transcribed Letter: {{ letter }}</h2>
<audio controls>
    <source src="{{ audio_path }}" type="audio/mp3">
    Your browser does not support the audio element.
</audio>
{% endif %}

</body>
</html>
